@import "tailwindcss";


@theme {


  --color-primary: '#1E3A8A'; 
  --color-secondary: '#6D28D9';
  --color-accent: '#10B981'; 
  --color-textPrimary: '#0F172A';
  --color-textSecondary: '#64748B'; 
  --color-bgLight: '#FFFFFF';
  --color-bgDark: '#F1F5F9';
  --color-border: '#E2E8F0';
  --color-warning: '#DC2626'; 
  --color-link: '#2563EB'; 





  /* ... */
}

/* @media print{
  #no-print{
    display: none;
  }

  #yes-print{
    display: block;
  }

  body{
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

@page{
  size: auto;
  margin: 0mm;
} */


.resume-wrapper {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: auto;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  /* force A4 print size */
  @media print {
    width: 210mm;
    height: 297mm;
    margin: 0;
    box-shadow: none;
    page-break-after: always;
  }
}


