@import "tailwindcss";


@theme {


  --color-primary: '#1E3A8A'; // Blue-800
  --color-secondary: '#6D28D9'; // Violet-700
  --color-accent: '#10B981'; // Emerald-500
  --color-textPrimary: '#0F172A'; // Slate-900
  --color-textSecondary: '#64748B'; // Slate-500
  --color-bgLight: '#FFFFFF';
  --color-bgDark: '#F1F5F9'; // Slate-100
  --color-border: '#E2E8F0'; // Slate-200
  --color-warning: '#DC2626'; // Red-600
  --color-link: '#2563EB'; // Blue-600





  /* ... */
}




/* In your CSS */
.page-break {
  page-break-before: always;
}

.avoid-break {
  page-break-inside: avoid;
}